<div class="jumbotron" style="background:url('../../Images/Insurance.jpg')">
    <h1>InsurancePolicy</h1>
    <p class="lead">In this website you can get, create, update and delete insurance policies.</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The core.</h2>
        <p>
            I centered my efforts on the BackEnd which has my core skills.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>In this project I have tried to focus on good practices for API consumption and maintain the DDD architecture using Unity, NUnit for testing, EF Code First, 
        Inversion of Control, Repository Pattern, dependency Injection.</p>
    </div>
    <div class="col-md-4">
        <h2>Expectations</h2>
        <p>I found GAP as a suitable company to grow up as a professional so I'm more than happy to have this opportunity to apply.</p>
    </div>
</div>
